*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:#333333 ;
    font-size: xx-large;
}
.table{
    font-size: medium;
}
.container1 {
    display: flex;
    height: 80vh;
    width: 100%;
}

.algorithm {
    display: flex;
    align-items: center;
    width: 50%;
    background-color:#1E1E1E;
    padding: 20px;
    border-radius: 10px;
    color: #BB86A1;
}

.pre {
    font-size: 20px;
}

.table {
    background-color: #1E1E1E;
    width: 50%;
    padding: 20px;
    color: #BB86A1;
    border-radius: 10px;
    position: relative;
    font-family: monospace;
}

.time-header{
    height: 5vh;
    padding-left: 2%;
    visibility: hidden;
    font-size: 1.5rem;
    color: palegreen;
    font-family: monospace;
}
.time-complexity {
    background-color: #1E1E1E;
    color: palegreen;
    width: 97%;
    margin: 0 auto;
    border-radius: 10px;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
}

/* Animate button */
#inputForm {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#inputForm input[type="submit"] {
    padding: 10px 20px;
    color: #BB86A1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: monospace;
    background-color: #1E1E1E;
}

#inputForm input[type="submit"]:hover {
    background-color: #474747;
}

/* Add some margin to elements */
.container1 > div {
    margin: 20px;
}

/* Styling for code snippet */
.algo {
    white-space: pre-wrap;
}

/* Highlight individual parts of the code */
.initialize , .condition , .updation {
    color: #9CD9FE;
}

.statement {
    color: #2383be;
}

.brackets{
    color: #D7BF09;
}

i{
    position: absolute;
    left: 95vh;
    top:6vh;
    font-size: 2vw;
    cursor: pointer;
    color: white;
}